/* Reset some default margin and padding */
body,
h1,
h2,
h3,
p,
form {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Vertical centering */
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  margin-bottom: 8px;
  align-self: start;
}

input {
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(26, 187, 26);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(13, 160, 13);
}
